#battleFrame {
  top:150%;
  background-color: #00800050;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding:15px;
}

#battleTextDiv {
  position: fixed;
  bottom: 15px;
  width: 95%;
  background-color: #1a1a1a;
  box-sizing: border-box;
  height: 20%;
}

#battleText {
  display: inline-block;
  font-size: 12.5px;
  border: 2.5px double green;
  font-family: 'pst';
  padding: 10px;
  margin: 10px;
  width: 75%;
  height: -webkit-fill-available;
}

#playerOptionsMenu {
  float: right;
  height: 100%;
  display: inline-grid;
  position: absolute;
  top: 0;
  padding: 7.5px;
  box-sizing: border-box;
  width: -webkit-fill-available;
  padding-left: 0px;
  padding-right: 0px;
}

#playerOptionsMenu button {
  background-color: green;
  border: none;
  font-family: 'gamer';
  font-size: 25px;
  margin: 5px;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 5px;
  box-sizing: border-box;
  width: 100%;
  filter: drop-shadow(-5px 5px 0px #000000);
}

#playerOptionsMenu button i {
  font-weight: 900;
  font-size: 13px;
}