
    .office-building,
    .gas-station,
    .library,
    .police-station,
    .fire-station,
    .admin-buildings,
    .restaurants,
    .homes {
      background-color: #A6A9AE;
      background-size: contain;
      background-repeat: no-repeat;
      image-rendering: optimizeSpeed;
      background-size:auto;
      transform: scale(1.1);
      transition: all 0.25s, background-color 0s, transform 0.5s, filter 7.5s;
      transition-timing-function:cubic-bezier(0.8,0,0,1);
      z-index: 100000;
      filter: saturate(1.1);
      opacity:0%;
      transform:scale(0.5);
    }

    .office-building:hover,
    .gas-station:hover,
    .library:hover,
    .police-station:hover,
    .fire-station:hover,
    .admin-buildings:hover,
    .restaurants:hover,
    .homes:hover {
      z-index: 100000000;
      transform: scale(2.5)!important;
      border: none;
      outline: none;
      border-radius: 0px;
      overflow: auto;
      background-size:100% 100%;
      background-color:transparent;
      filter: drop-shadow(1px 1px 0px black)!important;
      background-position:center;
      opacity:100%;
      cursor:pointer;
    }

    .office-building {
      background-image: url('../../sprites/office_building_1.png');
      background-size: contain;
      z-index: 1000;
      transform: scale(1.05);
    }

    .gas-station {
      background-image: url('../../sprites/gas_station.png');
      background-size: 50% 75%;
      filter: grayscale(100%);
      background-position: center;

    }

    .library {
      background-image: url('../../sprites/library.png');
      background-size: contain;
      filter:grayscale(100%)

    }

    .police-station {
      background-image: url('../../sprites/police_station.png');
      background-size: contain;
    }

    .fire-station {
      background-image: url('../../sprites/fire_station.png');
      filter:grayscale(100%);
      background-size: contain;
    }

    .admin-buildings {
      background-image: url('../../sprites/office_building_1.png');
      background-size:contain;
    }

    .restaurants {
      background-image: url('../../sprites/rest_1.png');
      filter: grayscale(100%);
      background-size: 85%;
      background-position: center;
    }

    .homes {
      background-image: url('../../sprites/house_1.png');
      background-size: 50%;
      background-repeat: round;
      filter:grayscale(100%)
    }

    .road-end-top {
      background-image: url('../../sprites/road_end_top.png');
    }

    .road-end-bottom {
      background-image: url('../../sprites/road_end_bottom.png');
    }

    .road-end-left {
      background-image: url('../../sprites/road_end_left.png');
    }

    .road-end-right {
      background-image: url('../../sprites/road_end_right.png');
    }


    @keyframes pulse {
      0% {
        outline: 1.5px solid #000;
        z-index:100000000;
        background-size:100% 100%;
        transition: steps(3, end);
      }
      50% {
        outline: 3px solid #000;
        z-index:100000000;
        background-size:100% 100%;
        transition: steps(3, end);
      }
      100% {
        outline: 1.5px solid #000;
        z-index:100000000;
        background-size:100% 100%;
        transition: steps(3, end);
      }
    }

    @keyframes pulse-mail {
      0% {
        background-color:green;
        color:black;
        z-index:100000000;
        background-size:100% 100%;
        transition: steps(3, end);
      }
      50% {
        background-color:black;
        color:green;
        z-index:100000000;
        background-size:100% 100%;
        transition: steps(3, end);
      }
      100% {
        background-color:green;
        color:black;
        z-index:100000000;
        background-size:100% 100%;
        transition: steps(3, end);
      }
    }

    @keyframes pulse-notif {
      0% {
        outline: 1.5px solid green;
        z-index:100000000;
        background-size:100% 100%;
        transition: steps(3, end);
      }
      50% {
        outline: 3px solid green;
        z-index:100000000;
        background-color:#008000a0;
        background-size:100% 100%;
        transition: steps(3, end);
      }
      100% {
        outline: 1.5px solid green;
        z-index:100000000;
        background-size:100% 100%;
        transition: steps(3, end);
      }
    }

    @keyframes pulse-rent {
      0% {
        outline: 1.5px dashed #000;
        z-index:100000000;
        background-size:100% 100%;
        transition: steps(3, end);
      }
      50% {
        outline: 3px dashed #000;
        z-index:100000000;
        background-size:100% 100%;
        transition: steps(3, end);
      }
      100% {
        outline: 1.5px dashed #000;
        z-index:100000000;
        background-size:100% 100%;
        transition: steps(3, end);
      }
    }

    @keyframes moveCar {
      0% { left: 0; }
      100% { left: 100%; } /* Move the car to the end of the road */
    }
    
    .car {
      position: absolute;
      width: 2px;
      height: 2px;
      background-color: red; /* Or any color you want for the car */
      animation: moveCar 5s linear infinite; /* Adjust the duration based on how fast you want the car to move */
    }


    .police-station {
      animation: pulse-police 5s infinite;
    }

    @keyframes pulse-police {
      0% {
        box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.5);
      }
      100% {
        box-shadow: 0 0 0 20px rgba(255, 0, 0, 0);
      }
    }

    .streetlamp, .stoplight {
      position: absolute;
      width: 2px;
      height: 8px;
      z-index: 100000000000;
      background-color: transparent;
      filter: drop-shadow(0px -5px 1px white);
      opacity: 100%;
      margin: 1px;
    }

    .stoplight, .stoplight-back {
      width: 6px;
      height: 8px;
      margin: 0px;
      margin-top: -8.5px;
      image-rendering: optimizespeed;
      filter: drop-shadow(0px 0px 6px white);
      margin-left: -1px;
    }

    .stoplight-back {
    margin-top:25%;
    opacity:50%;
    }

    .boat {
      position: absolute;
      width: 16px;
      height: 16px;
      background-color: transparent;
      animation: moveBoat 5s ease-in-out infinite;
      object-fit: contain;
      image-rendering: pixelated;
    }

    /* let's make a boat animation that makes it bob slightly up and down */

    @keyframes moveBoat {
      0% { transform: translateY(0);}
      50% { transform: translateY(-0.5px); }
      100% { transform: translateY(0); }
    }