
#navbar {
  position: absolute;
  bottom: 0;
  z-index: 1000;
  background-color: black;
  box-sizing: border-box;
  width: 98%;
  margin: 1%;
  border-radius: 7.5px;
  font-weight: 900;
  font-size: 20px;
  color: white;
  opacity: 50%;
  vertical-align: middle;
  display: flex;
  padding: 10px;
}

#navbar:hover {
  opacity: 100%;
}

#navbar button {
  color: white;
  border: none;
  font-size: 20px;
  background-color: transparent;
  border-radius: 100vmin;
  aspect-ratio: 1/1;
  cursor: pointer;
}

#topbar {
  position: absolute;
  top: -20%;
  left: 0;
  z-index: 10000;
  background-color: black;
  width: 100%;
  font-weight: 900;
  font-size: 20px;
  vertical-align: middle;
  padding: 0px;
  margin: 0px;
  text-align: right;
  box-sizing: border-box;
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.8, 0, 0, 1);
}

#topbar .right p:nth-child(2n) {
  background-color: transparent;
}

#topbar .right p:nth-child(2n+1) {
  background-color: #1a1a1a;
}

#topbar .right p {
  font-weight: 100;
  font-size: 20px;
  padding: 0px;
  margin: 0px;
  vertical-align: middle;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  white-space: normal;
  border: 5px solid transparent;
  cursor: pointer;
}

#topbar .right p:hover {
  background-color: #1a1a1aa0;
}

#topbar .right p i {
  font-size: 14px;
}

#topbar .uk-dropdown {
  background-color: black;
  margin: 0px;
  padding: 5px;
  box-shadow: 5px 5px 0px green;
  text-align: left;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  transition: all 0s !important;
  max-height: 80vh;
  overflow: hidden;
  overflow-y: auto;
  align-items: flex-start;
}

.uk-nav {
  transition: all 0s !important;
}

#topbar .uk-dropdown hr {
  padding: 1.5px;
  margin: 0px;
  box-sizing: border-box;
  opacity: 50%;
}


.sidebar-icon, .rightbar-icon {
      display: block;
      background-color: black;
      padding: 7.5px;
      line-height: normal;
      margin: 10px;
      filter: drop-shadow(4px 4px 0px green);
      cursor: pointer;
    }

    #sidebar, #rightbar {
      position: absolute;
      background-color: transparent;
      bottom: 0;
      z-index: 100000000;
      width: fit-content;
      font-size: 25px;
      box-sizing: border-box;
    }

    #sidebar {
      transition: all 0.5s;
      transition-timing-function: cubic-bezier(0.8, 0, 0, 1);
      left:0%;
    }

    #rightbar {
      right:0;
    }