    #radio-element:hover, #help-element:hover, #lawyer-element:hover {
      opacity: 100%;
      cursor: pointer;
    }

    #radio-dropdown, #help-dropdown, #lawyer-dropdown {
      margin: 0px;
      width: max-content;
      padding: 10px;
      background-color: black;
      filter: grayscale(1);
      opacity: 100%;
      image-rendering: pixelated;
    }

    #radio-dropdown:hover, #help-dropdown:hover, #lawyer-dropdown:hover {
      opacity: 100%;
    }

    #radio-dropdown iframe, #help-dropdown iframe, #lawyer-dropdown iframe{
      width: 100%;
      height: 100%;
      border: none;
    }

    #radio-link, #help-link, #lawyer-link {
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 10px;
      margin-bottom: 0px;
      background-color: black;
      padding: 10px;
      padding-bottom: 2.5px;
      padding-top: 0px;
      opacity: 60%;
    }

    #radio-link:hover, #help-link:hover, #lawyer-link:hover {
      opacity: 100%;
    }