    .residential {
      background-color: #f9f9f9;
    }

    .industrial {
      background-color: #1a1a1a;
      background-image: url('sprites/city_block.png');
      background-size: 100%;
      background-repeat: no-repeat;
      filter: brightness(0.95);

    }

    .natural {
      background-color: #b8db88;
      background-image: url('sprites/grass.png');
      background-size: 100%;
      background-repeat: no-repeat;
    }

    .water {
      background-color: #404040;
      outline: 25px solid #40404050;
      background-image: url('sprites/water.gif');
      background-size: 400%;
    }

    .road {
      background-color: #a1a1a1;
      z-index: 1000;
      background-image: url('sprites/street.png');
      background-size: 100%;
      background-repeat: no-repeat;
      image-rendering: pixelated;
    }

    .horizontal {
      background-image: url('sprites/street_horizontal.png');
      background-size: 100%;
      background-repeat: no-repeat;
    }

    .vertical {
      background-image: url('sprites/street_vertical.png');
      background-size: 100%;
      background-repeat: no-repeat;
    }

    .end-horizontal {
      background-image: url('sprites/street.png');
      background-size: 100%;
      background-repeat: no-repeat;
    }

    .end-vertical {
      background-image: url('sprites/street.png');
      background-size: 100%;
      background-repeat: no-repeat;
    }

    .intersection {
      background-image: url('sprites/street.png');
      background-size: 100%;
      background-repeat: no-repeat;
    }

    .habitable {
      background-color: #e9e9e9;
    }

    .habitable:hover {
      outline: 0.5px dashed #00ff00a0 !important;
      z-index: 1000;
      border-radius: 0%;
    }

    .water:hover,
    .road:hover,
    .grid-item:hover {
      outline: 0.5px dashed #ff0000a0;
      z-index: 1000000;
      border-radius: 0%;
    }

    .beach {
      background-color: #f6d4a4;
      background-image: none;
      z-index: 1000;
    }

    .night {
      filter:brightness(0.5);
    }



    @keyframes dayNightCycle {
      0%, 100% {
        background-color: rgba(0, 0, 0, 0); /* Daytime, almost clear */
      }
      50% {
        background-color: rgba(0, 0, 0, 0.5); /* Nighttime, dark */
      }
    }
    
    .dayNightOverlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100000;
      animation: dayNightCycle 30s infinite;
      transition-timing-function:cubic-bezier(0.8,0,0,1);
      pointer-events: none;
    }